<h1><%= @board.name %></h1>
<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @board.songs.each do |song| %>
      <tr class="center aligned">
        <td>
        <%= song.name %>
        </td>
        <td>By: <%= link_to song.artist.name, artist_songs_path(song.artist), class: "ui button blue" %></td>
      </tr>
    <% end %>
  </tbody>
</table>